/* Reset de la página */

* { padding: 0;
    margin: 0;}

/* Estilos header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background-color: #20ebb8;
    color: white;
    font-weight: bolder;
    padding: 2rem;}

header h1 {
    font-size: 3vw;
    padding: 3rem;}

header img {
    width: 20%;}

header p {
    font-size: 2.5vw;
    padding: 1rem;}

header h3 {
    padding-top: 1vw;
    padding-bottom: 4rem;
    font-size: 2vh;}

/* Estilos main */

.cabecera {
    text-align: center;
    margin: 2rem;}

.cabecera h2 { 
    padding: 1.5rem;
    font-size: 2rem;}

.cabecera p {
    padding-bottom: 1.5rem;}

.cabecera i {
    font-size: 1.5rem;}
.cabecera img {width: 20%;
              margin-left: 3px;
              margin-right: 3px;}

/* Estilo portfolio */

#portfolio {
    align-items: center;
    margin-bottom: 10%;}

/* Estilo galería fotos */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-left: 25%;
    margin-right: 25%;}

.grid-item {
    width: 100%;}

.grid-item img {
    max-width: 100%;
    height: auto;
    display: block;}

/* Estilos about */

#about {
    width: 100%;
    color: white;
    background-color: #20ebb8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}

.textabout {
    width: 50%;}

.textaboutizquierda{width: 47%;
    padding: 2px;
    float: left;}

.textaboutderecha {
        width: 47%;
        padding: 2px;
        float: right;}

.botonabout {
    width: 25%;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    min-height: 4vh;
    padding: 2.7vh 2vh 2vh 1.5vh;
    margin: 1.5rem;}

.botonabout a {
    text-decoration: none;
    color: white;}

.botonabout:hover { 
    background-color: rgba(186, 242, 199, 0.5); }

/* Estilo formulario */

.formulariocontact {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;}

input {
    display: block;
    outline: none;
    border: none;
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 1px;
    border-bottom: 1px solid #646262;}

input:focus {
    border-bottom: 1px solid rgb(2, 2, 71);
    box-shadow: 0 1px 0 rgb(2, 2, 71);}

textarea {
    outline: none;
    border: none;
    height: 10rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #646262;}

input[type=submit] {
    background-color: #24ffc8;
    color: white;
    padding: 2px 5px;
    margin: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;}

input[type=submit]:hover {
    background-color: rgba(186, 242, 199, 0.5);
    color: green;}

.lbmensaje {float: left;
            height: 2rem;
            font-size: 1rem;
            font-weight: 300;
            color:  #686565;
            margin-top: 0.5rem;}
/* Estilos footer */

.footersuperior {
    background-color: darkslategrey;
    min-height: 20vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;}

.footersuperior div {
    margin: 3rem;
    width: 30%;
    text-align: center;}

.footersuperior div h3 {margin: 5px;}

.footersuperior div p {margin: auto;}

.footersuperior span a { text-decoration: none;
                        color: #20ebb8;}

/* estilos iconos footer */

.icono footer {display: inline;}

 .icono {
  color:white;
  font-size:1rem;
}
/* estilos especiales para icono x-twitter */
.fa.fa-x-twitter{
    font-family:sans-serif;
}

.copyright{background-color: rgb(36, 39, 43);
          min-height: 3wh;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;}

  




